body {
  background-image: url("./images/background.jpeg");
  background-size: cover;
  height: 90vh;
}

/* title */
h1 {
  text-align: center;
  text-shadow: 4px 2px 2px #67558f;
  letter-spacing: 2.5em;
  font-family: "Goldman", cursive;
  color: rgb(236, 236, 236);
  font-size: 40px;
  font-weight: 900;
  margin-bottom: -5px;
  margin-top: -3px;
}

.spaceman-line {
  border: 2px solid rgb(236, 236, 236);
  background-color: rgb(236, 236, 236);
}

/* welcome to game */
h2 {
  font-family: "Goldman", cursive;
  text-align: center;
  letter-spacing: 0.5px;
  color: black;
  background-color: rgb(236, 236, 236);
  background-size: cover;
  border-bottom: 10px double black;
  margin-top: -5px;
}

/* turns remaining */
.turns {
  margin-top: -4px;
  margin-bottom: 10px;
  padding-right: 20px;
  font-family: "Goldman", cursive;
  letter-spacing: 2px;
  text-shadow: 4px 2px 2px #67558f;
  text-align: right;
  font-size: 28px;
  color: white;
}

/* enter your guess here */
h3 {
  font-size: 50px;
  font-family: "Big Shoulders Inline Text", cursive;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px white;

  margin: 30px 10px;
}

.line {
  border: 2px solid black;
  background-color: black;
  width: 95%;
}

input {
  height: 50px;
  width: 470px;
  font-family: "Big Shoulders Inline Text", cursive;
  letter-spacing: 1px;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
  border: none;
}

/* go button */
button {
  width: 150px;
  height: 60px;
  font-family: "Big Shoulders Inline Text", cursive;
  letter-spacing: 2px;
  font-size: 45px;
  text-shadow: 2px 2px 2px white;

  background-color: #6d76a59e;
  border: none;
  border-radius: 10px;
}

#guess-button:hover {
  background: url(./images/rocket-ship.png) no-repeat;
  background-size: 40%;
  background-position: right;
  background-color: white;
  text-shadow: 2px 2px 2px #67558f;
}

/* word blanks */
.word-blank {
  font-size: 55px;
  font-family: "Goldman", cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 0.9fr 1.4fr;
  gap: 0px 10px;
  height: 78vh;
  grid-template-areas:
    "enter-guess image"
    "input-box image"
    "word-blank image";
}

.word-blank {
  grid-area: word-blank;
  background-color: rgba(255, 255, 255, 0.916);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
}

.enter-box {
  grid-area: enter-guess;
  text-align: left;
  background-color: #e0c7bee8;
}

.input-box {
  grid-area: input-box;
  background-color: #e0c7bee8;
  margin-top: 0;
  text-align: right;
  padding-right: 20px;
}

.game-box {
  grid-area: image;
  display: flex;
  object-fit: scale-down;
  background-color: #6d76a59e;
}

@media (max-device-width: 480px) {
  body {
    height: auto;
  }

  h1 {
    font-size: 35px;
    letter-spacing: 25px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    /* width: 50vw; */
    /* height: 78vh; */
    grid-template-areas:
      "enter-guess"
      "input-box"
      "word-blank"
      "image";
  }

  .word-blank {
    grid-area: word-blank;
    width: 95vw;
  }

  .enter-box {
    grid-area: enter-guess;
    width: 95vw;
    text-align: left;
    background-color: #e0c7bee8;
  }

  .input-box {
    grid-area: input-box;
    width: 95vw;
    display: flex;
    justify-content: space-around;
    background-color: #e0c7bee8;
    margin-top: 0;
    text-align: right;
    padding: 0px 0px 0px 0px;
  }

  .game-box {
    grid-area: image;
    width: 95vw;
    display: flex;
    object-fit: cover;
    background-color: #6d76a59e;
  }

  #space-man {
    width: 400px;
    height: 400px;
  }

  #guess {
    width: auto;
    font-size: 25px;
  }
}
